@media (max-width: 1199px) {
    .img_text h3 {
        font-size: 15px;
    }
.meta ul{
    text-align: center;
}
    .tab-buttonsss span {
        font-size: 13px;
        margin-right: 1px;
    }

    .tab-contenttt h3 {
        font-size: 13px;
    }

    .tab-contenttt h4 {
        font-size: 12px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .select select {
        font-size: 14px;
    }

    .title1 {
        font-size: 22px;
    }

    .chiller_cb label {
        font-size: 14px;
    }

    .btn-btn {
        font-size: 12px;
    }

    .height {
        height: auto !important;
    }

    .input-group-prepend {
        width: 18%;
    }

}

@media (max-width: 991px) {
    .img_text h3 {
        font-size: 15px;
    }

    .tab-buttonsss span {
        font-size: 15px;
        margin-right: 1px;
    }

    .tab-contenttt h3 {
        font-size: 18px;
        padding: 8px 0;
    }

    .tab-contenttt h4 {
        font-size: 12px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .select select {
        font-size: 14px;
    }

    .title1 {
        font-size: 15px;
        padding-bottom: 20px;
    }

    .chiller_cb label {
        font-size: 14px;
    }

    .height {
        height: auto !important;
    }

    .input-group-prepend {
        width: 25%;
    }

}

@media (max-width: 767px) {
    .login-heading h3{
        font-size: 22px;
    }
    .paigtion02 b{
        float: unset !important;
    }

.footer_text ul li a {
    color: #fff;
    font-size: 12px ;
}
.media.media-video .thumb {
    margin: 0 auto !important;
}
.user-pane{
        padding-left: 15px !important;
}
.had-sec h5 {
  
    margin-left: 50px;
}
.form01 label {
    line-height: 26px;
    margin-top: 15px;
        margin-bottom: 0px;
}
.custom-radio2 label{
    margin-top: 0px !important;
}
a.post-heading{
    font-size: 18px !important;
}
.post-contant-list{
    text-align: center;
}
.post-contant-list .meta{
    text-align: left;
}
.button ul li {

    margin-right: 0px;
}
    .img_text h3 {
        font-size: 15px;
    }

    .button ul {
        padding-top: 0px;
    }

    .button ul li a {
        font-size: 10px;
    }

    .header_text h3 {
        margin-top: 12px;
        margin-bottom: 18px;
    }
    .title_form h3 {
    margin-bottom: 20px;
    font-size: 16px;
}

    .col_padd_right {
        padding-right: 15px;
    }

    .user-img {
        margin: auto;
    }

    .user-list {
        text-align: center;
    }

    .btn-two {
        width: 90%;
        margin-left: 0px;
    }
    .media.media-video .thumb {

    width: 100% !important;
}
.nextandp .medal a, .nextandp .pre a, .nextandp .next a {
    text-decoration: none;
    font-size: 12px;
    line-height: 34px;
    font-style: normal;
    color: #3B4043;
}
    .btn_web {
        width: 50%;
    }

    .form-inline {
        width: 95%;
    }

    .input-group-prepend {
        width: 25%;
    }

    .wrap h5 {
        text-align: center;
    }

.custmbor .input-group-prepend{
    display: table-cell;
}
.input-group-prepend .input-group-text{
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
}

}

@media (max-width: 500px) {
        .custmbor{
    display: table;
}
    .wrap h5 {
        text-align: center;
    }
    .logo {
        line-height: 30px;
    }
    .button ul li a {
        padding: 5px 6px;
    }
    .custom-radio .custom-control-label::before {
        top: .25rem !important;
    }

    .custom-control-label::after {
        top: .25rem !important;
    }

    .input-group-prepend {
        width: 30%;
    }

    .height {
        height: auto !important;
    }

    .img_text h3 {
        font-size: 15px;
    }

    .button ul {
        padding-top: 0px;
    }

    .button ul li a {
        font-size: 7px;
    }

    .header_text h3 {
        margin-top: 12px;
        margin-bottom: 18px;
        font-size: 20px;
    }

    .bor_bottom1 {
        font-size: 15px !important;
    }

    .col_padd_right {
        padding-right: 15px;
    }

    .btn-two {
        width: 100%;
        margin-left: 0px;
         margin-right: 0px;

    }
    .media.media-video .thumb {

    width: 100% !important;
}
    .text_wrap_content h2 {
    font-size: 18px;

}

    .btn_web {
        width: 80%;
    }

    .border_1 {
        font-size: 20px;
    }

    .circle-thumbnail a h3 {
        font-size: 15px !important;
    }
}